
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #ffffff;
}

h1 {
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: blue;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

form {
  background-color: #FFF;
  padding: 20px;
  border-radius: 8px;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

.float-fix {
 clear: both; 
}